---
- name: Study_Meeting_Playbook   # タスク名
  # hosts: study-meeting
  hosts: 192.168.33.30           # 対象ホスト
  sudo: yes                      # sudoするか
  roles:                         # 実際のタスクを記述しているディレクトリ
    - httpd
  #   - mysql
  # vars_prompt:
  #   - name: "dbpassword"
  #     prompt: "Please enter MySQL user password"
  #     default: "hoge"
